        #animationWrapper {
            position: relative;
            height: 50px;
        }

        #square {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 50px;
            height: 50px;
            background-color: rgba(0, 0, 220, 0.3);
        }
  